<html>
  <head>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <link href="src/fz_select.css" rel="stylesheet">
    <script src="src/fz_select.js" rel="stylesheet"></script>
  </head>
  <body ng-app="test">
    <script type="text/javascript">
      angular.module("test", ['fzSelect'])
      .controller("test", function($scope, $q, $timeout){
        var sourceList = [
          {name: 'one', value: 1}, 
          {name: 'two', value: 2}, 
          {name: 'three', value: 3}];
        var otherSourceList = [
          {name: 'apple', value: 1}, 
          {name: 'banana', value: 2}, 
          {name: 'pear', value: 3}];

        $scope.myItems = sourceList.slice();
        $scope.asyncItems = [];
        $scope.myValue = { value: 2, name: 'two' };
        $scope.asyncSearch = {value: 2 };

        $scope.mySelectedObject = sourceList[0];

        $scope.resetValue = function(){
          $scope.myValue.value = 1;
        };

        var origList = true;
        $scope.swapList = function(){
          if(origList){
            $scope.myItems = otherSourceList.slice();
            $scope.myValue = { value: 2, name: 'banana' };
          } else {
            $scope.myItems = sourceList.slice();
            $scope.myValue = { value: 2, name: 'two' };
          }
          origList = !origList;
        };

        $scope.refreshItems = function(filterString){
          $timeout(function(){
            var filteredItems = [];
            angular.forEach(sourceList, function(item){
              if(item.name == filterString)
                filteredItems.push(item);
            })
            $scope.asyncItems = filteredItems;
          }, 500);
        };
      })
    </script>

    <center>
      <div style="width: 600px;" ng-controller="test">

        <h2></h2>
        <button ng-click="resetValue();" >Set Source Value to One</button>
        <button ng-click="swapList();" >Swap List</button>

        <h2> Basic Version </h2>
        <h3> {{myValue.value}} </h3>
        <div fz-select fz-select-items="myItems" 
             fz-match-attribute="name" 
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="myValue.value" ></div>

        <h2> Search by name, return id </h2>
        <h3> {{myValue.value}} </h3>
        <div fz-select fz-select-items="myItems" 
             fz-match-attribute="name" 
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="mySelectedObject.value" ></div>

        <h2> Async Version </h2>
        <h3> {{asyncSearch.value}} </h3>
        <div fz-select fz-select-items="asyncItems" 
             fz-match-attribute="name" 
             fz-refresh="refreshItems"
             fz-refresh-rate="2000"
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="asyncSearch.value" ></div>

        <h2> Small Version </h2>
        <h3> {{myValue.value}} </h3>
        <div fz-select fz-select-items="myItems" 
             fz-match-attribute="name" 
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="myValue.value" 
             class="fz-select-sm"></div>

        <h2> Bootstrap Version </h2>
        <h3> {{myValue.value}} </h3>
        <div fz-select fz-select-items="myItems" 
             fz-match-attribute="name" 
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="myValue.value" 
             class="fz-select-bs"></div>

        <h2> Small Bootstrap Version </h2>
        <h3> {{myValue.value}} </h3>
        <div fz-select fz-select-items="myItems" 
             fz-match-attribute="name" 
             fz-return-attribute="value" 
             fz-return-objects="false"
             ng-model="myValue.value" 
             class="fz-select-bs input-sm"
             style="float: left; width:500px; margin-bottom:50px;"></div>

        <button class="bootstrap-btn btn-sm"
        style="float: left;">B</button>

      </div>

    </center>


  </body>
</html>
