.bootstrap-btn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 16px;
  font-size: 13px;
  line-height: 1.46153846;
  border-radius: 3px;
}

.btn-sm{
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 2px;
}

.fz-select-component{
}


/* SEARCH BOX */


*{
  box-sizing:border-box;
}
/* main styles */

.fz-search-box{
  position:relative;
  width: 100%;
}


.fz-search-box .fz-search-input-container{
  position: absolute;
  right:21px;
  left:0px;
}

.fz-search-box .fz-search-input{
  border: 1px solid rgb(238, 238, 238);
  height:21px;
  width:100%;
}

.fz-search-box .fz-results-toggle{
  cursor: pointer;
  position: absolute;
  height: 21px;
  width: 21px;
  right:0px;
  border: 1px solid rgb(238, 238, 238);
  display: inline-block;
}

.fz-search-box .fz-search-spacer{
  height: 21px;
  clear: both;
}

.fz-search-box .fz-results-container{
  border: 1px solid rgb(238, 238, 238);
  padding: 2px 0px;

}
.fz-search-box .fz-results-row{
  cursor: pointer;
  text-align: left;
  padding: 1px 2px;
}

.fz-search-box .fz-results-row:hover{
  background-color: rgb(238, 238, 238);
}

.fz-search-box .fz-results-row.fz-selected{
  background-color: rgb(238, 238, 238);
}


/* bootstrap styles */
.fz-select-bs .fz-search-box .fz-search-input{
  font-size:13px;
  font-weight:400;
  padding: 7px 9px;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #e1e3e8;
  height:36px;
  line-height: 1.46153846;
}

.fz-select-bs .fz-search-box .fz-results-toggle{
  height: auto;
  font-size: 13px;
  padding: 8px 16px;
  border-radius: 0px 3px 3px 0px;
  font-weight: 400;
  border: 1px solid #4697ce;
  background-color: #4697ce;
  color: white;
  line-height: 1.46153846;
  width: auto;
}

.fz-select-bs .fz-search-box .fz-search-input-container{
  position: absolute;
  right:46px;
  left:0px;
}

.fz-select-bs .fz-search-box .fz-search-spacer{
  height: 36px;
  clear: both;
}

/* small bootstrap styles */
.fz-select-bs.fz-select-sm .fz-search-box .fz-search-input{
  height: 30px !important;
  padding: 4px 10px !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  border-radius: 2px 0px 0px 2px;
}

.fz-select-bs.fz-select-sm .fz-search-box .fz-results-toggle{
  height: 30px !important;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px 2px 2px 0px;
}

.fz-select-bs.fz-select-sm .fz-search-box .fz-search-input-container{
  position: absolute;
  right: 14px;
  left:0px;
}

.fz-select-bs.fz-select-sm .fz-search-box .fz-search-spacer{
  height: 30px;
  clear: both;
}

